body{
    background-color:rgb(117,117,117);
}
#aboutbody{
    background-image: url("aboutmeBG.png");
}
h1 {
    color:azure;
}
#intro{
    color: azure;
    margin:auto 0;
}
#info{
    color:azure;
    margin:auto 0;
}
#fewThings{
 color:azure;
 margin:auto 0;
}
#projects{
    color: azure;
}
h3{
    color:azure;
}
#robotics{
    transform: translate(500,0);
    display:block;
}
